









<h1>タスク一覧</h1>












<!--<ul>-->

<!--  <% @tasks.each do |task| %>-->

<!--        <li><%= link_to task.user, task %> : <%= task.status %> &gt;   <%= task.content %></li>-->



<!--  <% end %>-->

<!--</ul>-->



      <%= render 'test/microposts', tasks: @tasks %>



<%= link_to '新規タスクの投稿', new_task_path %>



              <li class="dropdown-item"><%= link_to 'Logout', logout_path, method: :delete %></li>





