<<<<<<< HEAD
<h1> タスクの詳細ページ</h1>


=======
<!--<h1>id: <%= @task.id %> タスクの詳細ページ</h1>-->

<!--<p>状態: <%= @task.status %></p>-->

<!--<p><%= @task.content %></p>-->
>>>>>>> abb0becc9320e6fc48d3f2ea359f022dbdbc7ff4

   



<<<<<<< HEAD
            
            
                <%= render 'test/microposts', tasks: @tasks %>

            
            
=======
<!--<%= link_to '一覧に戻る', tasks_path %>-->
<!--<%= link_to 'このタスクを編集する', edit_task_path(@task) %>-->
>>>>>>> abb0becc9320e6fc48d3f2ea359f022dbdbc7ff4
